#cloud-config
ssh_pwauth: True
chpasswd:
  list: |
    root:password
  expire: False
disable_root: False
runcmd:
  - [ sed, -i, -e, '/^#PermitRootLogin .*\$/a PermitRootLogin yes', /etc/ssh/sshd_config ]
ssh_authorized_keys:
## Add your ssh key here
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMF1OrLR5yBv12vEGheLIpNvFCmZhkW7d0//y4kuCnNO arman@DPO02041L
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMhdQSM2+eYO/cNzA5tVbIAdOx5dRNOQBiEwXoTFtw1N arman@salar

