[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus_home }}/bin/nexus start
ExecStop={{ nexus_home }}/bin/nexus stop
User={{ nexus_user }}
Group={{ nexus_group }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ nexus_home }}

[Install]
WantedBy=multi-user.target
